html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

.navbar {
  background-color: rgb(177, 252, 248);
  color: white;
  padding: 10px 0;
  border-radius: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  gap: 30px;
  display: inline-flex;
}

.navigation li {
  list-style: none;
}

.navigation li a {
  text-decoration: none;
  color: rgb(3, 66, 37);
}

.hero {
  background-color: #83f5af;
  padding: 50px 20px;
  text-align: center;
}

.hero img {
  width: 300px;
  height: 200px;
}

.Projects h2 {
  text-align: center;
}

.project-grid {
  display: flex;
  flex-direction: colum;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

.project-grid > div {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  display: inline;
  box-shadow: 0 4px 8px grey;
}

.project-grid img {
  width: 300px;
  height: 200px;
}

footer.footer {
  background-color: #222;
  color: white;
  padding: 16px;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
