body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
}

.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(207, 139, 11);
}

.logo {
  text-decoration: none;
  color: orangered;
  font-size: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo span {
  color: white;
}

.navbar {
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: antiquewhite;
}

.navbar li {
  margin: 10px;
  font-size: 2em;
  text-shadow: 3px 4px 2px orangered;
  cursor: pointer;
}

.navbar li:hover {
  box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
}

.banner3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(144, 172, 19);
}

.banner3 h1 {
  font-family: "Pacifico";
  font-size: 4rem;
  color: #ff4500;
  text-shadow: 2px 2px 4px antiquewhite;
  letter-spacing: 2px;
  padding-right: 380px;
}

.abtbanner p {
  font-size: 1.5em;
  color: whitesmoke;
}

.firstp {
  padding-left: 170px;
}

.secondp {
  padding-left: 240px;
}

img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  justify-content: space-between;
  border-top: 12px solid white;
  border-right: 8px solid white;
  border-left: 8px solid white;
  border-bottom: 55px solid white;
  box-shadow: 0 5px 35px lightgray;
  margin: 40px;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px lightgrey;
}

img:hover {
  box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
}

figcaption {
  font-size: 1.5em;
  color: rgb(248, 179, 30);
  background-color: #21a0a0;
  max-width: 15%;
  border-radius: 15px;
  padding: 10px;
  margin-left: 40px;
}

.famcards p {
  font-size: 1.25em;
  color: orangered;
  margin-left: 40px;
}

h3 {
  font-size: 1.75em;
  color: #21a0a0;
  text-shadow: 2px 2px 0px lightgrey;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
}

.footer-links ul {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  cursor: pointer;
  list-style: none;
}

.footbar li {
  margin: 20px;
}

.footbar li a {
  text-decoration: none;
  color: white;
}

.icons {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 2.2rem;
  }

  .sticky {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    font-size: 1.2rem;
    margin: 5px;
  }
  h1,
  .banner3 h1,
  .banner4 h1,
  .cu-banner h2,
  .firstp,
  .secondp,
  .thirdp {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  img,
  .venueimg img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }

  .container {
    width: 90%;
    height: auto;
  }
}
