body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: antiquewhite;
}

.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: rgb(207, 139, 11);
}

.logo {
  text-decoration: none;
  color: orangered;
  font-size: 4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo span {
  color: white;
}

.navbar {
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: antiquewhite;
}

.navbar li {
  margin: 10px;
  font-size: 2em;
  text-shadow: 3px 4px 2px orangered;
  cursor: pointer;
}

.navbar li:hover {
  box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(191, 186, 72, 0.75);
}

.banner4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(144, 172, 19);
}

.banner4 h1 {
  font-family: "Pacifico";
  font-size: 4rem;
  color: #21a0a0;
  text-shadow: 2px 2px 4px antiquewhite;
  letter-spacing: 2px;
  padding-left: 60px;
}

.evntbanner p {
  font-size: 1.5em;
  color: whitesmoke;
}

.thirdp {
}

.festinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.festinfo h2 {
  font-size: 2.5rem;
  color: orangered;
}

.festinfo p {
  font-size: 1.5rem;
}

table {
  border: 3px solid orangered;
  border-collapse: separate;
  display: table;
  border-spacing: 2px;
  width: 400px;
  background-color: #21a0a0;
  border-radius: 15px;
}

th,
td {
  text-align: center;
  color: antiquewhite;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
}

.footer-links ul {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  cursor: pointer;
  list-style: none;
}

.footbar li {
  margin: 20px;
}

.footbar li a {
  text-decoration: none;
  color: white;
}

.icons {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 2.2rem;
  }

  .sticky {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    font-size: 1.2rem;
    margin: 5px;
  }
  h1,
  .banner3 h1,
  .banner4 h1,
  .cu-banner h2,
  .firstp,
  .secondp,
  .thirdp {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  img,
  .venueimg img {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }

  .container {
    width: 90%;
    height: auto;
  }
}
